@keyframes burn {
  0% {
    color: hsl(177, 64%, 95%);
    text-shadow: 0px 0px 9.12281px white, 0px 0px 54.7368px white;
  }
  to {
    color: hsl(177, 62%, 63%);
    text-shadow: 0px 0px 9.12281px rgba(73, 193, 188, 0.8),
      0px 0px 54.7368px #49c1bc;
  }
}
